/* * *  LUCEGRAPHY.CSS  * * */

@media screen and (max-width: 736px) {
  #logo img {
    margin: 0 !important;
  }
}
#logo {
  left: 0em;
}
#logo img {
  margin-top: 5%;
  margin-left: 20px;
  height: 90%;
}
#nav a:hover {
  color: #000;
}
.header_title_sp1 {
  font-size: 500%;
  font-weight: bold;
  letter-spacing: 20px;
}
.header_title_sp2 {
  font-size: 250%;
  font-weight: bold;
  letter-spacing: 20px;
}

/* PARALLELISM */
.parallelism-container {
  overflow: hidden;
}
.parallelism-parent {
  height: 100%;
}
.parallelism-parent > header {
  margin: 0;
}
.parallelism {
  height: 100%;
}

/* SITEMAP */
.sitemap-table thead {
  font-weight: bold;
  text-align: center;
}
.sitemap-table th {
  width: 50%;
}

/* MESSAGE */
.message {
  border-radius: 5px;
	display: none;
  padding: 1% 0;
	right: 50px;
	bottom: 50px;
	position: fixed;
	width: 30%;
	z-index: 10000000;

  color: #FFF;
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
}
.msg-green {
  background: #a8d5a3;
}
.msg-red {
  background: #e95a5a;
}
