/* * *  LUCEGRAPHY.CSS  * * */

@media screen and (max-width: 736px) {
  #logo img {
    margin: 0 !important;
  }
}
#logo {
  left: 0em;
}
#logo img {
  margin-top: 5%;
  margin-left: 20px;
  height: 90%;
}
#nav a:hover {
  color: #000;
}
.header_title_sp1 {
  font-size: 500%;
  font-weight: bold;
  letter-spacing: 20px;
}
.header_title_sp2 {
  font-size: 250%;
  font-weight: bold;
  letter-spacing: 20px;
}

/* PARALLELISM */
.parallelism-container {
  overflow: hidden;
}
.parallelism-parent {
  height: 100%;
}
.parallelism-parent > header {
  margin: 0;
}
.parallelism {
  height: 100%;
}
